Repository s-gryt/sgryt.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix --allow-empty-input, markdownlint, eslint --cache --fix --quiet

.lintstagedrc:

{
  "*": ["prettier --write --ignore-unknown"],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.md": ["markdownlint"],
  "*.yml": ["eslint --cache --fix --quiet"]
}

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  e9a212f7664ab5e2f33ab2ae69865b1dc21ab2a1
Due: prettier --write --ignore-unknown

fix(config): add giscus comments
  _config.yml
Due: prettier --write --ignore-unknown, eslint --cache --fix --quiet

chore(release): 1.9.1 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  791a3fc7eff36238e8abcbcfe2f140d3762df560
Due: prettier --write --ignore-unknown

fix(footer): disabled framework metadata
  _includes/footer.html
  _sass/addon/commons.scss
Due: prettier --write --ignore-unknown, stylelint --fix --allow-empty-input

chore(release): 1.9.2 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  2d708731200837ba8203717e124d82479b458c5e
Due: prettier --write --ignore-unknown

chore: update ide settings
  .vscode/settings.json
  .vscode/tasks.json
Due: prettier --write --ignore-unknown

feat(posts): add blog post about Transforming Monoliths into Serverless Architecture
  _posts/2024-02-15-evolving-from-monolithic.md
  assets/img/posts/2024-02-15-evolving-from-monolithic/app.png
  assets/img/posts/2024-02-15-evolving-from-monolithic/app_aws.png
  assets/img/posts/2024-02-15-evolving-from-monolithic/cover.png
  assets/img/posts/2024-02-15-evolving-from-monolithic/lambda.png
  assets/img/posts/2024-02-15-evolving-from-monolithic/microservice.png
  assets/img/posts/2024-02-15-evolving-from-monolithic/microservices.png
  assets/img/posts/2024-02-15-evolving-from-monolithic/not_ok_structure.png
  assets/img/posts/2024-02-15-evolving-from-monolithic/ok_structure.png
  assets/img/posts/2024-02-15-evolving-from-monolithic/serverless.png
Due: prettier --write --ignore-unknown, markdownlint

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  f0b9eaf4407a5c2d95f1376e5b267871e8e86d0b
Due: prettier --write --ignore-unknown

feat(seo): update 02-15-24 headers
  _posts/2024-02-15-monolithic-to-microservices-with-lambda.md
  assets/img/posts/2024-02-15-monolithic-to-microservices-with-lambda/app.png
  assets/img/posts/2024-02-15-monolithic-to-microservices-with-lambda/app_aws.png
  assets/img/posts/2024-02-15-monolithic-to-microservices-with-lambda/cover.png
  assets/img/posts/2024-02-15-monolithic-to-microservices-with-lambda/lambda.png
  assets/img/posts/2024-02-15-monolithic-to-microservices-with-lambda/microservice.png
  assets/img/posts/2024-02-15-monolithic-to-microservices-with-lambda/microservices.png
  assets/img/posts/2024-02-15-monolithic-to-microservices-with-lambda/not_ok_structure.png
  assets/img/posts/2024-02-15-monolithic-to-microservices-with-lambda/ok_structure.png
  assets/img/posts/2024-02-15-monolithic-to-microservices-with-lambda/serverless.png
Due: prettier --write --ignore-unknown, markdownlint

fix(config): update description
  _config.yml
Due: prettier --write --ignore-unknown, eslint --cache --fix --quiet

ci(releaserc): update ignore npm publish
  .releaserc
Due: prettier --write --ignore-unknown

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  fccda4cfbf39ed3d4c48a6dd0ba7f70a6935dced
Due: prettier --write --ignore-unknown

feat: add description
  _includes/head.html
  _layouts/post.html
  _posts/2023-08-07-accelerate-code-reviews.md
  _posts/2023-08-21-team-leads-vital-role.md
  _posts/2023-09-04-elevating-code-quality-smart-and-proper-eslint-usage-with-plugins.md
  _posts/2023-09-18-technical-debt-unpacking-the-software-quality-challenge.md
  _posts/2023-12-11-serverless-transition-exploration-with-aws.md
  _posts/2024-01-15-import-challenges-in-nodejs.md
  _posts/2024-02-15-monolithic-to-microservices-with-lambda.md
Due: prettier --write --ignore-unknown, markdownlint

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  bd43c76d60f717c737bfa0fcaf5af780f1310fb5
Due: prettier --write --ignore-unknown

ci: fix ruby runner
  .github/workflows/jekyll.yml
Due: prettier --write --ignore-unknown, eslint --cache --fix --quiet

feat(blog): add post on Single Responsibility Principle in AWS Lambda
  _posts/2024-03-15-srp-in-lambda.md
  assets/img/posts/2024-03-15-srp-in-lambda/cover.png
Due: prettier --write --ignore-unknown, markdownlint

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  e21ccdb2a74deb175746b941b1760d50f35dae07
Due: prettier --write --ignore-unknown

ci: add cspell
  .lintstagedrc
  cspell.json
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat(blog): implement Open-Closed Principle in serverless architecture
  _posts/2024-04-15-ocp-in-lambda.md
  assets/img/posts/2024-04-15-ocp-in-lambda/cover.png
  cspell.json
Due: prettier --write --ignore-unknown, markdownlint

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  9c7a33129e002e863f314680682e26fb9aebe299
Due: prettier --write --ignore-unknown

feat(blog): add LSP in serverless architecture
  _posts/2024-05-18-lsp-in-lambda.md
  assets/img/posts/2024-05-15-lsp-in-lambda/cover.png
  cspell.json
Due: prettier --write --ignore-unknown, markdownlint

refactor(blog): update blog post metadata
  _posts/2023-08-07-accelerate-code-reviews.md
  _posts/2023-08-21-team-leads-vital-role.md
  _posts/2023-09-04-elevating-code-quality-smart-and-proper-eslint-usage-with-plugins.md
  _posts/2023-09-18-technical-debt-unpacking-the-software-quality-challenge.md
  _posts/2023-12-11-serverless-transition-exploration-with-aws.md
  _posts/2024-01-15-import-challenges-in-nodejs.md
  _posts/2024-02-17-monolithic-to-microservices-with-lambda.md
  _posts/2024-03-06-srp-in-lambda.md
  _posts/2024-04-23-ocp-in-lambda.md
  _posts/2024-05-18-lsp-in-lambda.md
  assets/img/posts/2024-02-17-monolithic-to-microservices-with-lambda/app.png
  assets/img/posts/2024-02-17-monolithic-to-microservices-with-lambda/app_aws.png
  assets/img/posts/2024-02-17-monolithic-to-microservices-with-lambda/cover.png
  assets/img/posts/2024-02-17-monolithic-to-microservices-with-lambda/lambda.png
  assets/img/posts/2024-02-17-monolithic-to-microservices-with-lambda/microservice.png
  assets/img/posts/2024-02-17-monolithic-to-microservices-with-lambda/microservices.png
  assets/img/posts/2024-02-17-monolithic-to-microservices-with-lambda/not_ok_structure.png
  assets/img/posts/2024-02-17-monolithic-to-microservices-with-lambda/ok_structure.png
  assets/img/posts/2024-02-17-monolithic-to-microservices-with-lambda/serverless.png
  assets/img/posts/2024-03-06-srp-in-lambda/cover.png
  assets/img/posts/2024-04-23-ocp-in-lambda/cover.png
  assets/img/posts/2024-05-18-lsp-in-lambda/cover.png
  cspell.json
Due: prettier --write --ignore-unknown, markdownlint

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  8801d9e38d87159a813f64157f57f0b6326285f6
Due: prettier --write --ignore-unknown

feat(blog): add isp for aws lambda architecture post
  _posts/2024-06-14-isp-in-lambda.md
  assets/img/posts/2024-06-14-isp-in-lambda/cover.png
  cspell.json
Due: prettier --write --ignore-unknown, markdownlint

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  e8d86e063d14990a6bdfba826f1a82a64ed70e82
Due: prettier --write --ignore-unknown

feat(blog): add DIP for aws lambda architecture post
  _posts/2024-07-09-dip-in-lambda.md
  assets/img/posts/2024-07-09-dip-in-lambda/cover.png
Due: prettier --write --ignore-unknown, markdownlint

chore(release): 1.17.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  10ea8d50b845d2d1af5737389f1602c3156063d7
Due: prettier --write --ignore-unknown

feat(blog): enhance DIP post with concrete examples
  _posts/2024-07-09-dip-in-lambda.md
Due: prettier --write --ignore-unknown, markdownlint

chore(release): 1.18.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint
