Repository s-gryt/sgryt.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix --allow-empty-input, markdownlint, cspell --no-must-find-files, eslint --cache --fix --quiet

.lintstagedrc:

{
  "*": ["prettier --write --ignore-unknown"],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.md": ["markdownlint", "cspell --no-must-find-files"],
  "*.yml": ["eslint --cache --fix --quiet"]
}

Notes added by 'git notes add'
  919ef9cddb0bd02afa739a9ac5595a2e689efc15
Due: prettier --write --ignore-unknown

feat(blog): enhance DIP post with concrete examples
  CHANGELOG.md
  _posts/2024-07-09-dip-in-lambda.md
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

chore(release): 1.19.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

Notes added by 'git notes add'
  b7ec387fd60df88777f33792e8e3881a9d4e7185
Due: prettier --write --ignore-unknown

fix(post-2024-02-17): update image links
  _posts/2024-02-17-monolithic-to-microservices-with-lambda.md
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

ci(actions): update action versions
  .github/workflows/jekyll.yml
  .github/workflows/release.yml
Due: prettier --write --ignore-unknown, eslint --cache --fix --quiet

chore(release): 1.19.1 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

Notes added by 'git notes add'
  3a16bee1eb23e0201bf0a2dae848d8b45872aa5a
Due: prettier --write --ignore-unknown

feat(blog): add comparison post for AI coding assistants
  .vscode/tasks.json
  _posts/2025-04-24-gemini-gpt-claude-ai-models-comparison.md
  assets/img/posts/2025-04-24-gemini-gpt-claude-ai-models-comparison/cover.png
  cspell.json
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

chore(release): 1.20.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

Notes added by 'git notes add'
  d9b024191cb0786f2f0ec7a811518509adfe18d5
Due: prettier --write --ignore-unknown

feat(2023-08-07): optimize code blog post for better search visibility
  _posts/2023-08-07-7-strategies-accelerate-code-reviews-boost-productivity.md
  _posts/2023-08-07-accelerate-code-reviews.md
  assets/img/posts/2023-08-07-7-strategies-accelerate-code-reviews-boost-productivity/cover.png
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

feat(blog 2023-08-21): optimize blog post for better search visibility
  _posts/2023-08-21-8-strategies-team-leads-developer-success.md
  _posts/2023-08-21-team-leads-vital-role.md
  assets/img/posts/2023-08-21-8-strategies-team-leads-developer-success/cover.png
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

feat(2025-04-24): optimize code blog post for better search visibility
  _posts/2025-04-24-gemini-gpt-claude-ai-models-comparison.md
  cspell.json
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

chore(release): 1.21.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

Notes added by 'git notes add'
  8addacecc3e039369662c24d3fb1694264c754d8
Due: prettier --write --ignore-unknown

fix(blog 2025-04-24): update AI models comparison
  _posts/2025-04-24-gemini-gpt-claude-ai-models-comparison.md
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

chore(release): 1.21.1 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

Notes added by 'git notes add'
  267e52be79dc652670e3f36b559ed88b3c79f662
Due: prettier --write --ignore-unknown

feat(2024-07-09): optimize code blog post for better search visibility
  _posts/2024-07-09-dependency-inversion-principle-in-lambda.md
  assets/img/posts/2024-07-09-dependency-inversion-principle-in-lambda.md/cover.png
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

feat(2024-06-14): optimize code blog post for better search visibility
  _posts/2024-06-14-interface-segregation-principle-in-lambda.md
  _posts/2024-07-09-dependency-inversion-principle-in-lambda.md
  assets/img/posts/2024-06-14-interface-segregation-principle-in-lambda/cover.png
  assets/img/posts/2024-07-09-dependency-inversion-principle-in-lambda/cover.png
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

feat(2024-05-18): optimize code blog post for better search visibility
  _posts/2024-05-18-liskov-substitution-principle-in-lambda.md
  assets/img/posts/2024-05-18-liskov-substitution-principle-in-lambda/cover.png
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

feat(2024-04-23): optimize code blog post for better search visibility
  _posts/2024-04-23-open-closed-principle-in-lambda.md
  assets/img/posts/2024-04-23-open-closed-principle-in-lambda/cover.png
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

feat(2024-03-06): optimize code blog post for better search visibility
  _posts/2024-03-06-single-responsibility-principle-in-lambda.md
  assets/img/posts/2024-03-06-single-responsibility-principle-in-lambda/cover.png
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

fix(blog): update related posts links
  _posts/2024-03-06-single-responsibility-principle-in-lambda.md
  _posts/2024-04-23-open-closed-principle-in-lambda.md
  _posts/2024-05-18-liskov-substitution-principle-in-lambda.md
  _posts/2024-06-14-interface-segregation-principle-in-lambda.md
  _posts/2024-07-09-dependency-inversion-principle-in-lambda.md
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

fix(blog): update related posts links
  _posts/2023-08-07-7-strategies-accelerate-code-reviews-boost-productivity.md
  _posts/2023-08-21-8-strategies-team-leads-developer-success.md
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

feat(2024-02-17): optimize code blog post for better search visibility
  _posts/2024-02-17-monolithic-to-microservices-with-lambda.md
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

chore(release): 1.22.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

Notes added by 'git notes add'
  163068363e0d8add46aa7a29080a767ebe1d8949
Due: prettier --write --ignore-unknown

fix(blog): add redirect paths for improved SEO in Lambda principles posts
  _posts/2024-03-06-single-responsibility-principle-in-lambda.md
  _posts/2024-04-23-open-closed-principle-in-lambda.md
  _posts/2024-05-18-liskov-substitution-principle-in-lambda.md
  _posts/2024-06-14-interface-segregation-principle-in-lambda.md
  _posts/2024-07-09-dependency-inversion-principle-in-lambda.md
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

chore(release): 1.22.1 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

Notes added by 'git notes add'
  789fcd878783d1b9f185b5218257d40b5f428836
Due: prettier --write --ignore-unknown

fix(blog): add redirect path to blog posts
  _posts/2023-08-07-7-strategies-accelerate-code-reviews-boost-productivity.md
  _posts/2023-08-21-8-strategies-team-leads-developer-success.md
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

chore(release): 1.22.2 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

Notes added by 'git notes add'
  46ce36741906633b74baf5abfa19622cd30c8f05
Due: prettier --write --ignore-unknown

fix(blog): correct redirect path formatting in code review strategies post
  _posts/2023-08-07-7-strategies-accelerate-code-reviews-boost-productivity.md
  _posts/2025-04-24-gemini-gpt-claude-ai-models-comparison.md
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

feat(blog): add OpenAI prompt caching and cost optimization
  _posts/2025-05-06-openai-prompt-caching-cost-optimization.md
  assets/img/posts/2025-05-06-openai-prompt-caching-cost-optimization/context_caching.png
  assets/img/posts/2025-05-06-openai-prompt-caching-cost-optimization/cover.png
  cspell.json
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

chore(release): 1.23.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files

Notes added by 'git notes add'
  6249e525efb4be9383fe7f7d9464847f8ec72bce
Due: prettier --write --ignore-unknown

feat(blog): introduce Chain of Draft technique for LLM outputs
  _posts/2025-05-19-enhancing-llm-outputs-chain-of-draft.md
  assets/img/posts/2025-05-19-enhancing-llm-outputs-chain-of-draft/cover.png
  cspell.json
Due: prettier --write --ignore-unknown, markdownlint, cspell --no-must-find-files
