Repository s-gryt/sgryt.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix --allow-empty-input, markdownlint, eslint --cache --fix --quiet

.lintstagedrc:

{
  "*": ["prettier --write --ignore-unknown"],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.md": ["markdownlint"],
  "*.yml": ["eslint --cache --fix --quiet"]
}

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  9e65f868160bd4a029ef7528478deed1efd428af
Due: prettier --write --ignore-unknown

Create CNAME
  CNAME
Due: prettier --write --ignore-unknown

chore: remove Gemfile.lock from .gitignore
  .gitignore
  Gemfile.lock
Due: prettier --write --ignore-unknown

fix(config): update url path
  _config.yml
Due: prettier --write --ignore-unknown, eslint --cache --fix --quiet

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  cd22ac022fad7bb8c2d9fa1b99235cf20f1b6910
Due: prettier --write --ignore-unknown

Create jekyll.yml
  .github/workflows/jekyll.yml
Due: prettier --write --ignore-unknown, eslint --cache --fix --quiet

feat(posts): add post about the team lead's role
  _posts/2023-08-21-team-leads-vital-role.md
  assets/img/posts/2023-08-21-team-leads-vital-role/background.jpeg
Due: prettier --write --ignore-unknown, markdownlint

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  7b0f16f9e9058e4836c027bf23b9c32840d8f88b
Due: prettier --write --ignore-unknown

feat(posts): add post about the code reviews
  _posts/2023-08-07-accelerate-code-reviews.md
  _posts/2023-08-21-team-leads-vital-role.md
  assets/img/posts/2023-08-07-accelerate-code-reviews/cover.png
  assets/img/posts/2023-08-21-team-leads-vital-role/cover.png
Due: prettier --write --ignore-unknown, markdownlint

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  e6f2886c9789c9d694efc5285ddf3c15e08463fb
Due: prettier --write --ignore-unknown

feat(posts): feat: add blog post about ESLint usage with plugins for code quality
  _posts/2023-09-04-elevating-code-quality-smart-and-proper-eslint-usage-with-plugins.md
  assets/img/posts/2023-09-04-elevating-code-quality-smart-and-proper-eslint-usage-with-plugins.md/cover.png
Due: prettier --write --ignore-unknown, markdownlint

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  f516f2c1e86a15b2f7e5117fd26b21ec74c20052
Due: prettier --write --ignore-unknown

feat(posts): add blog post about ESLint usage with plugins for code quality
  _posts/2023-09-04-elevating-code-quality-smart-and-proper-eslint-usage-with-plugins.md
  assets/img/posts/2023-09-04-elevating-code-quality-smart-and-proper-eslint-usage-with-plugins.md/cover.png
Due: prettier --write --ignore-unknown, markdownlint

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  ad287f2f7c1f494bb5d2fb7a8dc46e25b5d43180
Due: prettier --write --ignore-unknown

feat(about): update About section
  _tabs/about.md
Due: prettier --write --ignore-unknown, markdownlint

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  b3a697ad6d6c101c06ad8f02ad091b7ae5445c1e
Due: prettier --write --ignore-unknown

fix(about): url typo fix
  _tabs/about.md
Due: prettier --write --ignore-unknown, markdownlint

chore(release): 1.5.1 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  be6391d3fda886644fb9c5b755f67c1598f05e70
Due: prettier --write --ignore-unknown

fix(about): update about content
  _tabs/about.md
Due: prettier --write --ignore-unknown, markdownlint

fix(post 2023-09-04): url paths fix
  _posts/2023-09-04-elevating-code-quality-smart-and-proper-eslint-usage-with-plugins.md
Due: prettier --write --ignore-unknown, markdownlint

chore(release): 1.5.2 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  61905862bc42b0c9ad1f34dbb2e7314c7b7f69f5
Due: prettier --write --ignore-unknown

feat: add google analytics
  Gemfile.lock
  _config.yml
Due: prettier --write --ignore-unknown, eslint --cache --fix --quiet

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  434eb44bd0049a56d20aaefd6d0952058cc94cbe
Due: prettier --write --ignore-unknown

feat(posts): add blog post about Tech Debt
  _posts/2023-09-18-technical-debt-unpacking-the-software-quality-challenge.md
  assets/img/posts/2023-09-18-technical-debt-unpacking-the-software-quality-challenge/coupling-cohesion.png
  assets/img/posts/2023-09-18-technical-debt-unpacking-the-software-quality-challenge/cover.png
  assets/img/posts/2023-09-18-technical-debt-unpacking-the-software-quality-challenge/high-coupling-low-cohesion.png
  assets/img/posts/2023-09-18-technical-debt-unpacking-the-software-quality-challenge/low-coupling-high-cohesion.png
Due: prettier --write --ignore-unknown, markdownlint

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  796548e6b2b06cfde35e9f41e5052d682252183e
Due: prettier --write --ignore-unknown

feat(posts): add blog post about Serverless Architecture with AWS Added a new blog post to the _posts directory. Images related to the blog post are also included.
  _posts/2023-12-11-serverless-transition-exploration-with-aws.md
  assets/img/posts/2023-12-11-serverless-transition-exploration-with-aws/cover.png
Due: prettier --write --ignore-unknown, markdownlint

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
Due: prettier --write --ignore-unknown, markdownlint

Notes added by 'git notes add'
  166441dd788416c62329749808bb6e78546f3379
Due: prettier --write --ignore-unknown

feat(posts): add blog post about Efficient Module Bundling and Smart Imports Added a new blog post to the _posts directory. Images related to the blog post are also included.
  _posts/2024-01-15-import-challenges-in-nodejs.md
  assets/img/posts/2024-01-15-import-challenges-in-nodejs/cover.png
Due: prettier --write --ignore-unknown, markdownlint
